# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnp.*
.cache/
.next/
.nuxt/
dist/
build/
out/
*.tgz

# Env
.env
.env.local
.env.*.local

# Logs
logs/
*.log
yarn-error.log
lerna-debug.log
npm-debug.log
pids/
*.pid
*.seed
*.pid.lock

# Coverage / test output
coverage/
.nyc_output/
jest-cache/
.vitest/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDEs / editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

.cache/
.parcel-cache/
.cache-loader/
.sass-cache/
*.sqlite
*.db
*.sqlite3

serverless/
.vercel/
.netlify/
firebase-debug.log

*.tsbuildinfo

.AppleDouble
.LSOverride

